$primary-color: #fff;
$border-color: #e0e0e0;
$search-bg: #f1f1f1;
$sage: #87BCBF;
$rust: #E55934;
$drab: #324755;
$danger: #D95454;
$onyx: #1B1C20;
$slate: #6E8CA0;
$snow: #FFFFFF;
$ice: #F0F3F4;
$fossil: #C8D1D3;
$sand: #B9B0A2;



.news-category {
    h2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        color: #324755;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .icon,
    .search-btn,
    .dropdown-icon-btn {
        background: none;
        border: none;
        cursor: pointer;
    }

    .dropdown-icon {
        transition: transform 0.3s ease;
    }
}



nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    border-bottom: 1px solid $border-color;

   

}

ul {
    display: flex;
    list-style: none;

    li {
        margin: 0 50px;
    }

    a {
        text-decoration: none;
        color: #324755;
        font-size: 20px;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
    }
}

.search {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;


    input::placeholder {
        color: #6E8CA0;
    }

    input {
        flex: 1;
        padding: 14px;
        margin: 10px;
        border: #e0e0e000;
        border-radius: 5px;
        margin-right: 10px;
        background-color: #F0F3F4;

    }
}


.news-category {
    border-bottom: 1px solid $border-color;

    &.expanded {
        .articles {
            display: block;
            max-height: 500px;
        }

        .dropdown-icon {
            transform: rotate(180deg);
        }
    }

    .articles {
        display: none;
        margin-top: 1rem;
        overflow: hidden;
        transition: max-height 0.4s ease;

        article {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;

            img {
                width: 60px;
                height: 50px;
                object-fit:cover;
                border-radius: 100%;
                margin-right: 12px;
            }

            .content {
                flex: 1;

                h3 {
                    font-size: 1.2rem;
                    
                    color: #324755;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                }

                p {
                    margin-top: 5px;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    color: #6E8CA0
                }
            }
        }
    }



}