@import './_reset.scss';

.articles article {
    transition: transform 0.4s ease;
    /* Other styles */
}

.article-container {
    position: relative;
    overflow: hidden;
    /* Ensure parts of the button outside the container are not visible */
}

article {
    position: relative;
    z-index: 2;
    /* Ensure the article is above the button */
    /* Other article styles */
}

.archive-button {
    position: absolute;
    right: 0;

    transform: translateX(100%);
    z-index: 1;

    /* Button styling */
    padding: 95px 47px;
    /* Adjust padding for size */
    max-width: 200px;
    /* Set the maximum width */
    white-space: nowrap;
    /* Prevent text from wrapping */
    overflow: hidden;
    /* Hide overflow if the text exceeds max-width */
    text-overflow: ellipsis;
    /* Show ellipsis (...) if text overflows */
    font-size: 16px;
    /* Adjust font size */
    background-color: #87BCBF;
    /* Background color */
    color: #ffffff;
    /* Text color */
    border: none;
    /* Remove border */
    cursor: pointer;
}

header {

    nav {

       
        padding: 30px 20px;
        border-bottom: 1px solid $border-color;

        ul {
            display: flex;
            list-style: none;
            max-width: 100%;
            justify-content: center;

            li {
                margin: 0 50px;
            }

            a {
                text-decoration: none;
                color: #324755;
                font-size: 20px;
                font-weight: 600;
                font-family: 'Poppins', sans-serif;
            }
        }

    }

    .search {
        display: flex;
        padding: 10px;
        border-bottom: 1px solid #e0e0e0;

        input::placeholder {
            color: #6E8CA0;
        }

        input {
            flex: 1;
            padding: 14px;
            margin: 10px;
            border: #e0e0e000;
            border-radius: 5px;
            margin-right: 10px;
            background-color: #F0F3F4;
        }
    }

}




.dropdown-arrow i {
    transition: transform 0.3s ease;
}

.expanded .dropdown-arrow i {
    transform: rotate(180deg);
}

.news-category {


    .box {
        padding: 15px;
        border-bottom: 1px solid $border-color;
    }

    .logo-container {
        display: flex;
        align-items: center;
        cursor: pointer;

    }

    .logo {
        width: 35px;
        border-radius: 50%;
        margin-right: 10px;
        box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);


    }

    .text {
        cursor: pointer;
        color: #324755;

        font-weight: bold;
        font-size: 17px;
    }

    .dropdown-arrow {
        margin-left: auto;
        color: #324755;
        font-size: 20px;
    }

    .articles {

        max-height: 0;
        overflow: hidden;
        transition: max-height 0.7s, opacity 0.3s; // This applies to both expanding and collapsing
        opacity: 1;

    }

    &.expanded .articles {
        max-height: 500px; // Or however tall the content needs to be

    }

    article {

        display: flex;
        align-items: center;
        padding: 1rem;
        border-bottom: 1px solid #e0e0e0;


        img {
            width: 60px;
            height: 50px;
            object-fit: cover;
            border-radius: 100%;
            margin-right: 12px;
        }

        .content {
            flex: 1;

            h3 {
                font-size: 1.2rem;
                color: #324755;

            }

            p {
                margin-top: 5px;

                color: #6E8CA0;
            }
        }
    }
}