@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Heebo', sans-serif;
}

.dark-mode a {
	color: #fff;
}

.dark-mode {
	background-color: #354958;
	color: #fff;
	
}

.dark-mode .news-category .text {
	color: white;
}

.dark-mode .news-category article .content h3 {
	color: white;
}

.dark-mode .news-category {
	background-color: #3c576a;
}

.dark-mode header .search {
	border-bottom: 1px solid #202e39;
}

.dark-mode .news-category .dropdown-arrow {
	color: white;
}

.dark-mode .article-container{
	background-color: #2b3e4d;
}

.dark-mode .news-category article .content p {
	color: white;
}

.dark-mode .news-category article {
	border-bottom: 1px solid #121a20;
}

.dark-mode .news-category .box  {
	border-bottom: 1px solid #202e39;
}

.dark-mode header nav {
	border-bottom: none;
}

.dark-mode .settings-container .category .switch input:checked+.slider {
	background-color: #354958;
}

.dark-mode .settings-container .category span {
	color: #fff;
}

.dark-mode .settings-container {
	background-color: #3f5c6f;
	color: #fff;
}

.dark-mode .settings-container .whitebox {
	background-color: #506f86;
	color: #fff;
}

/* Add more dark mode styles as needed */

$primary-color: #fff;
$border-color: #e0e0e0;
$search-bg: #f1f1f1;
$sage: #87BCBF;
$rust: #E55934;
$drab: #324755;
$danger: #D95454;
$onyx: #1B1C20;
$slate: #6E8CA0;
$snow: #FFFFFF;
$ice: #F0F3F4;
$fossil: #C8D1D3;
$sand: #B9B0A2;


