@import './_reset.scss';



.settings-container {
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #F0F3F4;



    .whitebox {
        background-color: #fff;
        padding: 20px;
        border-radius: 20px;
        margin-bottom: 20px;
    }

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        text-align: center;

        h2 {
            font-size: 24px;
            color: #898989;
        }

        .manage {
            color: $sage;
            text-align: center;
            font-size: 40px;
        }
    }


    .category {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
        font-weight: bold;
        font-size: 18px;
        padding: 0px 0 40px 0;

        span {
            color: $drab;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;

            input {
                display: none;
            }

            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                border-radius: 34px;
                transition: .4s;

                &:before {
                    position: absolute;
                    content: "";
                    height: 26px;
                    width: 26px;
                    left: 4px;
                    bottom: 4px;
                    background-color: white;
                    border-radius: 50%;
                    transition: .4s;
                }
            }

            input:checked+.slider {
                background-color: $sage;

                &:before {
                    transform: translateX(26px);
                }
            }
        }
    }

    footer {
        font-size: 12px;
        text-align: center;
    }
}

.flexButton {
    display: flex;
    justify-content: center;
    margin: 40px;
}


.darkmodebtn {
    background-color: #f0f3f4;
    color: #000000;
    padding: 10px;
    border-radius: 30px;
    margin: 10px;
  }

.darkmodebtn {
    
    padding: 10px;
    border-radius: 30px;
    margin: 10px;
}

body {
  --bg-color: #ffffff;
  --text-color: #000000;
}

body.darkmode {
  --bg-color: #000000;
  --text-color: #ffffff;
}

.settings-container {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.whitebox {
  background-color: var(--bg-color);
  color: var(--text-color);
}
